body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    position: fixed;
}

#logo {
    height: 32px;
    width: auto;
}

nav {
   float: right;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 0 16px;
}

.container {
    position: relative;
    top: 64px;
}